<th:block th:fragment="medium(moment)" th:if="${not #lists.isEmpty(moment.spec.content.medium)}">
  <table class="medium-table" th:if="${#strings.contains(moment.spec.content.medium, 'PHOTO')}">
    <tr th:each="row : ${#numbers.sequence(0, moment.spec.content.medium.size() - 1, 2)}">
      <td th:each="index : ${#numbers.sequence(row, row + 1)}" th:if="${index < moment.spec.content.medium.size()}">
        <img loading="lazy" th:src="${moment.spec.content.medium[index].url}" />
      </td>
    </tr>
  </table>
</th:block>
