<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '归档', content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main class="main-content container">
      <header class="archive-header u-textAlignCenter">
        <h1 class="archive-title">年度归档</h1>
        <div class="taxonomy-description">时间的印记，带走的只是断断续续的回忆。</div>
      </header>

      <section class="blockGroup">
        <th:block th:each="archives, status : ${archives.items}">
          <th:block th:each="archive : ${archives}">
            <article class="block--inset block--list block">
              <h2 class="block-title post-featured" itemprop="headline">
                <a th:text="${archive.year}"></a>
              </h2>
              <th:block th:each="month : ${archive.months}">
                <div class="block-archiveMetaWrap u-textAlignCenter" th:each="post : ${month.posts}">
                  <a th:href="@{${post.status?.permalink}}" th:text="${post.spec.title}+' - '"></a>
                  <time
                    class="article-date"
                    th:datetime="${#temporals.format(post.spec.publishTime, 'MMMM dd')}"
                    th:text="${#temporals.format(post.spec.publishTime, 'MMMM dd')}"
                  ></time>
                </div>
              </th:block>
            </article>
          </th:block>
        </th:block>
      </section>
    </main>
  </th:block>
</html>
