<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '归档', content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main class="main-content">
      <section class="section-body">
        <header class="section-header u-textAlignCenter">
          <h2 class="block-title">归档</h2>
        </header>

        <div class="fancy-archive">
          <th:block th:each="archives, status : ${archives.items}">
            <th:block th:each="archive : ${archives}">
              <h3 class="archive-year" th:text="${archive.year}"></h3>
              <th:block th:each="month : ${archive.months}">
                <h3 class="archive-month" th:text="${month.month} + ' 月'"></h3>
                <ul class="fancy-ul">
                  <li th:each="post : ${month.posts}">
                    <a th:href="@{${post.status?.permalink}}" th:text="${post.spec.title}+' - '"></a>
                    <time class="article-date" th:text="${#temporals.format(post.spec.publishTime, 'MM-dd')}"></time>
                  </li>
                </ul>
              </th:block>
            </th:block>
          </th:block>
        </div>
      </section>
    </main>
  </th:block>
</html>
