<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = ${title}, content = ~{::content})}"
>
  <th:block th:fragment="content">
    <main class="main-content">
      <header class="archive-header u-textAlignCenter">
        <h1 class="archive-title"><span>Notes</span></h1>
        <button class="button termlike" data-action="termlike" data-action-id="87">
          <span class="count" th:text="${moments.total}"></span>
        </button>
      </header>
      <section class="notes-box">
        <ul>
          <li th:each="moment : ${moments.items}" th:with="content=${moment.spec.content}">
            <div class="notes-content">
              <p th:utext="${content.raw}"></p>
              <th:block th:replace="~{modules/moment/moments-medium :: medium(${moment})}" />
            </div>

            <div class="notes-info">
              <div class="time">
                <span class="icon-clock" th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日')}"></span>
              </div>
            </div>
            <!--          <div class="view-detail"><a th:href="${'/moments/'+moment.metadata.name}">查看详情</a></div>-->
          </li>
        </ul>
      </section>

      <th:block
        th:if="${moments.items > 1}"
        th:replace="~{modules/moment/moments-paginator :: paginator('',${moments})}"
      />
    </main>
  </th:block>
</html>
