<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = 'Note', content = ~{::content})}"
>
<th:block th:fragment="content">
  <main class="main-content">
    <section class="section-body">
      <article>
        <div class="post-cover">
          <div class="post-info">
            <div class="title">
              <h2 th:title="${site.title}" th:text="${site.title}"></h2>
            </div>
            <div class="more">
              <div class="time">
                <i class="iconfont icon-clock"></i>
                <span th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日 HH:mm')}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="post-content" th:with="content=${moment.spec.content}">
          <th:block th:utext="${content.html}"></th:block>
          <div class="center">
            <th:block th:if="${not #lists.isEmpty(content.medium)}">
              <div th:class="|moment-media medium-${content.medium.size}|">
                <th:block th:each="media : ${content.medium}">
                  <div class="moment-media-item">
                    <img th:if="${#strings.equals(media.type,'PHOTO')}"
                         class="rounded-lg " th:src="${media.url}" loading="lazy">
                    <video th:if="${#strings.equals(media.type,'VIDEO')}"
                           th:src="${media.url}" width="100%" height="auto"
                           controls="true"></video>
                  </div>
                </th:block>
              </div>
            </th:block>
          </div>
        </div>

      </article>

      <div id="comment" th:if="${haloCommentEnabled}">
        <halo:comment group="content.halo.run" kind="Post" th:attr="name=${moment.metadata.name}"/>
      </div>
    </section>
  </main>
</th:block>

<th:block th:fragment="footer">
  <script>
    let postImg = document.querySelectorAll('.post-content img');
    if (postImg) {
      let postImgUrl = [];
      $(postImg).each(function (i) {
        postImgUrl[i] = $('<a data-fancybox="gallery"></a>').attr('href', $(postImg[i]).attr('src'));
        postImg[i].parentNode.replaceChild($(postImgUrl[i])[0], postImg[i]);
        $(postImg[i]).appendTo($(postImgUrl[i])[0]);
      })
    }
  </script>
  <script th:src="@{/assets/static/fancybox/fancybox.umd.js}"></script>
</th:block>

</html>